 {% extends 'base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}

<div style="background: url('/media/img/images/home.jpg'); background-repeat:no-repeat;background-size: cover;color: white;height: 800px;  ">
	<br>
   <br>
    <br>
   
<div class="container" style="background-color: white;width: 60%;-webkit-box-shadow: 0 0 5px 5px #b5adad;-moz-box-shadow: 0 0 5px 5px #b5adad; box-shadow: 0 0 5px 5px #b5adad; " >

<form class="form-horizontal" action='/ChangePassword/'  method="POST" id="form1">
  {% csrf_token %}
  <center>

  <div>
    <h2 style="color: #449898">Change Password</h2>
    <hr>
    <br>
  </div>
  </center> 

   <div class="form-row">
    <div class="col-md-4 text-center" style="margin-top: 5px">
      <label style="color: black"  for="validationTooltip01">Current Password</label>    
    </div>
 
    <div class="col-md-8 "style="margin-bottom: 10px">
        <input type="text" class="form-control" name="CurrentPassword" id="CurrentPassword" placeholder="Current Password" value="" required="">
    </div>
  </div>

  <br> <br> 

   <div class="form-row">
    <div class="col-md-4 text-center" style="margin-top: 5px">
      <label style="color: black"  for="validationTooltip01">New Password</label>    
    </div>
 
    <div class="col-md-8 "style="margin-bottom: 10px">
        <input type="Password" class="form-control" name="NewPassword" id="NewPassword" placeholder="New Password" value="" required>
    </div>
  </div>

  <br> <br> 

 <div class="form-row">
    <div class="col-md-4 text-center" style="margin-top: 5px">
      <label style="color: black"  for="validationTooltip01">Confirm Password</label>    
    </div>
 
    <div class="col-md-8 "style="margin-bottom: 10px">
        <input type="Password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password" value="" required>
    </div>
  </div>


  <center> 
	<br><br><br><br>

  	<button type="submit" class="btn btn-primary">Submit</button>
  	<br>
  </center>

</form>
	<br>	<br>
</div>


<br>
</div>
{% endblock%}